.carouselContainer {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.2rem;
}

.imageWrapper img {
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;
}

/* 📱 Ajustes para móviles */
@media (max-width: 768px) {
  .carouselContainer {
    width: 92vw; /* Ancho según lo solicitado */
    height: 40vh; /* Altura según lo solicitado */
    max-width: 100vw; /* Evita que se pase del ancho */
    margin: 0 auto; /* Centrar el carrusel horizontalmente */
    margin-left: -3vw; /* Mueve el carrusel 5vw a la izquierda */
  }

  .imageWrapper {
    width: 100vw; /* Ancho según lo solicitado */
    height: 40vh; /* Altura según lo solicitado */
    margin: 0 auto; /* Asegurar centrado horizontal */
  }
}

/* Botones de navegación */
.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease-in-out;
}

.button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.prevButton {
  left: 10px;
  color: #007BFF;
  background-color: #D3D3D3;
  font-size: 3rem;
  border: 0;
}

.nextButton {
  right: 10px;
  color: #007BFF;
  background-color: #D3D3D3;
  font-size: 3rem;
  border: 0;
}

  