/* Contenedor principal */
.container {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

/* Sección Hero */
.hero {
  background-color: #007BFF;
  color: white;
  padding: 80px 20px;
  text-align: center;
  margin-top: 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-top: 20px;
}

.hero p {
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.hero .cta {
  background-color: #ff5722;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.hero .cta:hover {
  background-color: #e64a19;
}

/* Sección de Servicios */
.services {
  padding: 30px;
  text-align: center;
}

.services h2 {
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: white; 
  }
  .services h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .hero {
    background-color: #007BFF;
    color: white;
    padding: 80px 20px;
    text-align: center;
    margin-top: 90px;
  }
}
