/* Contenedor principal */
.container {
  font-family: 'Arial', sans-serif;
  
  box-sizing: border-box;
  width: 100%;
  
}.barraazul {
  background-color: #007BFF;  /* Color de fondo azul */
  height: 4.5rem;  /* Altura de la barra */
  width: 100%;  /* Ocupar todo el ancho */
  position: fixed;  /* Fija la barra en pantalla */
  top:  var(--navbar-height);  /* Coloca la barra justo debajo de la navbar */
  left: 0;  /* Alineación izquierda */
  z-index: 999;  /* Asegura que la barra esté sobre el contenido */
}


/* Sección de Servicios */
.services {
  padding: 20px;
  text-align: center;
}

.services h2 {
  font-size: 2.5rem;
}.ctaContainer {
  background-color: white;
  color: #1a1a1a;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  margin-top: 2px;
}

.ctaHeading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1a1a1a;
}

.ctaSubheading {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #1a1a1a;
}

.ctaButton {
  background-color: #FFCC00;
  color: black;
  font-size: 1.1rem;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.ctaButton:hover {
  background-color: #ffff00;
}


/* Estilos Responsivos */
@media screen and (max-width: 768px) {
 .barraazul{
    height: 5.6rem;
  }


  .services h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }.ctaContainer {
    background-color: white;
    color: #1a1a1a;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    margin-top: -20px;
  }

}
