/* Contenedor principal */
.container {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

/* Barra de Navegación (Navbar) */
.navbar {
  background-color: #333;
  padding: 10px 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Sección Hero */
.hero {
  background-color: #007BFF;
  color: white;
  padding: 80px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.hero .cta {
  background-color: #ff5722;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.hero .cta:hover {
  background-color: #e64a19;
}

/* Sección de Servicios */
.services {
 
  padding: 30px;
  text-align: center;
  
}

.services h2 {
  font-size: 2.5rem;
  
}

.services ul {
  list-style-type: none;
  padding: 0;
}

.services li {
  font-size: 1.2rem;
  margin: 10px 0;
}

/* Sección de FAQ */
.faq {
  padding: 60px 20px;
  background-color: #fff;
}

.faq h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
}

.faq div {
  margin-bottom: 30px;
}

.faq h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.faq p {
  font-size: 1rem;
  line-height: 1.6;
}

/* Sección de Contacto */
.contacto {
  background-color: #e9ecef;
  padding: 60px 20px;
  text-align: center;
}

.contacto h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.contacto form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.contacto label {
  font-size: 1rem;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
  max-width: 500px;
}

.contacto input,
.contacto textarea {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contacto button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.contacto button:hover {
  background-color: #218838;
}



@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 1.5rem; /* Reducido en móviles (16px) */ 
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .hero p {
    font-size: 1rem; /* Reducido en móviles (16px) */ 
    margin-bottom: 20px;
    color: white;
  }
}
@media screen and (max-width: 768px) {
  .services h2 {
    font-size: 2rem; /* Reducido en móviles (16px) */ 
    margin-bottom: 20px;
    color:black;
  }
}
