/* Contenedor principal */
.container {
  font-family: 'Arial', sans-serif;
  
  box-sizing: border-box;
  width: 100%;
  
}.barraazul {
  background-color: #007BFF;  /* Color de fondo azul */
  height: 4.5rem;  /* Altura de la barra */
  width: 100%;  /* Ocupar todo el ancho */
  position: fixed;  /* Fija la barra en pantalla */
  top:  var(--navbar-height);  /* Coloca la barra justo debajo de la navbar */
  left: 0;  /* Alineación izquierda */
  z-index: 999;  /* Asegura que la barra esté sobre el contenido */
}



/* Sección Hero */
.hero {
  background-color: #D3D3D3;
  color: black;
  padding: 40px 20px;
  text-align: center;
 
}

.hero h1 {
  font-size: 3rem;
  margin-top: 60px;
}

/* Estilos para la imagen */
.heroImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border-radius: 35px;
}

.heroImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.hero p {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: justify;
}

.hero .cta {
  background-color: #FFCC00;
  color: black;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.hero .cta:hover {
  background-color: #e79a4d;
}

/* Sección de Servicios */
.services {
  padding: 20px;
  text-align: center;
}

.services h2 {
  font-size: 2.5rem;
}.ctaContainer {
  background-color: white;
  color: #1a1a1a;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
}

.ctaHeading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1a1a1a;
}

.ctaSubheading {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #1a1a1a;
}

.ctaButton {
  background-color: #FFCC00;
  color: black;
  font-size: 1.1rem;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.ctaButton:hover {
  background-color: #FFAA00;
}


/* Estilos Responsivos */
@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 1.5rem;
    margin-top: 70px;
    margin-bottom: 20px;
  }.barraazul{
    height: 5.6rem;
  }

  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: black; 
    line-height: 1.6rem;

  }

  .services h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .hero {
    text-align: center;
    
  }

  
  .heroImageContainer {
    
    width: 350px;
    
  }
}
