/* Contenedor principal */
.container {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

/* Sección Hero */
.hero {
  background-color: #007BFF;
  color: white;
  padding: 40px 20px;
  text-align: center;
  margin-top: 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-top: 20px;
}

/* Estilos para la imagen */
.heroImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.heroImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.hero p {
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.hero .cta {
  background-color: #FFCC00;
  color: black;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.hero .cta:hover {
  background-color: #e79a4d;
}

/* Sección de Servicios */
.services {
  padding: 20px;
  text-align: center;
}

.services h2 {
  font-size: 2.5rem;
}

/* Estilos Responsivos */
@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: white; 
  }

  .services h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .hero {
    text-align: center;
    margin-top: 35px;
  }

  .heroImage {
    width: 100%;
    height: auto;
  }
}
