/* Contenedor principal centrado */
.container {
 margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
 

}

/* Estilos del título */
.title {
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 20px;
  /* Separación con la descripción */
}

/* Estilos de la descripción */
.description {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  margin: 10px 20px;
  
  /* Evitar que el texto se expanda demasiado */
}

/* Contenedor de la imagen centrado */
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  /* Tamaño máximo para evitar que se haga muy grande */
  margin-top: 20px;
}

/* Responsividad para móviles */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1.2rem;
    /* Reducir un poco el tamaño */
    margin-left: 10px;
    margin-right: 10px;
    /* Ajustar márgenes */
    max-width: 100%;
    /* Ocupar todo el ancho disponible */
  }

  .imageContainer {
    margin-top: 10px;
    width: 97%;
    max-width: 97%;
    /* Ocupar todo el ancho disponible */
  }

  .container {
    width: 80%;
    padding: 20px 0;
    /* Espaciado adicional para móviles */
  }
}