/* Contenedor principal centrado */
.container {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  
  box-sizing: border-box;
}

/* Estilos del título */
.title {
  font-size: 2.7rem;
  font-weight: bold;
}

/* Estilos de la descripción */
.description {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  margin: 10px 20px;
}

/* Contenedor de la imagen centrado */
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Responsividad para móviles */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1.2rem;
    margin: 10px 15px;
    max-width: 380px;
  }

  .imageContainer {
    margin-top: 10px;
    max-width: 380px;
    margin-left: 20px;
  }

  .container {
    width: 100%;
    
  }
}
