.container {
  margin-top: 50px;
}

.title {
  font-size: 2.7rem;
  text-align: center; /* Alineamos el título en el centro */
  font-weight: bold; /* Añadir negrita */
}

.description {
  font-size: 16px;
  line-height: 1.5;
  font-size: 1.2rem;
  text-align: justify; /* Justificamos el texto para mejorar la legibilidad */

  
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsividad para móviles */
@media (max-width: 768px) {
  .title {
    font-size: 2rem; /* Reducir tamaño del título en móvil */
    font-weight: bold; /* Añadir negrita */
  }

  .description {
    font-size: 1.2rem; /* Reducir tamaño de la descripción en móvil */
    margin: 10px 20px 20px 20px;
  }

  .imageContainer {
    margin-top: 10px; /* Menos margen en móvil */
    align-items: center;
    margin: 10px 20px 20px 20px;
  }

  .container {
    margin-top: 50px;
    height: auto;

    max-width: 97%; /* Evitar que se salga del ancho */
    margin: 10px 20px 20px 20px;
  }
}

