/* styles/TextAndImageSection.module.css */
.container {
 margin-top: 50px;

   
  }
  
  .title {
    font-weight: 700;
    margin-bottom: 16px;
    font-size: 3rem;
    text-align: center; /* Alineamos el título en el centro */
    font-weight: bold; /* Añadir negrita */
  }
  
  .description {
    font-size: 16px;
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: justify; /* Justificamos el texto para mejorar la legibilidad */
  }
  
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Separación entre texto e imagen */
    border-radius: 10rem;
  }
  
  /* Responsividad para móviles */
  @media (max-width: 768px) {
    .title {
      font-size: 2rem; /* Reducir tamaño del título en móvil */
 
      font-weight: bold; /* Añadir negrita */
    }
    
    .description {
      font-size: 1rem; /* Reducir tamaño de la descripción en móvil */

    }
    
    .imageContainer {
      margin-top: 10px; /* Menos margen en móvil */
      align-items: center;
    }
    .container{
      margin-top: 50px;
      height: auto;
      width: 24rem;
      margin-left: 1rem;
      margin-right: 2rem;
    }
  }
  