.contactContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .contactButton {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s ease-in-out;
  }
  
  .contactButton:first-child {
    background-color: #007bff;
  }
  
  .contactButton:first-child:hover {
    background-color: #0056b3;
  }
  
  .contactButton:last-child {
    background-color: #25d366;
  }
  
  .contactButton:last-child:hover {
    background-color: #1da851;
  }
  
  .icon {
    font-size: 20px;
    
  }
  
  